*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    
    background-color: #fef8ec;
    font-family: 'Josefin Sans', sans-serif;
    
}

/*Typography*/
h1 {
    font-weight: 700;
    font-size: 50px;
    color: #fdf0d5;
    
}

p {
    font-size: 45px;
    color: white;
}


/*Styling of the elements*/

main{
    width:280px; 
    height:280px; 
    border:1px solid hsla(357, 89%, 33%, 1);
    position: absolute;
    top:50%;
    left:50%;
    margin:-140px 0 0 -140px;
    background: linear-gradient(90deg, hsla(0, 100%, 24%, 1) 0%, hsla(357, 89%, 33%, 1) 50%, hsla(356, 83%, 41%, 1) 100%);
}

.container-counter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}



.btn { 
    width: 60px;
    border-radius: 8px;
    background-color: #669BBC;
    border: 2px solid #82ABA1;
    color: #003049;
    font-size: 20px;
}

.btn:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px #000000;
     
    
}

#plus-btn:hover{
    background-color: #82ABA1; 
}

#minus-btn:hover{
    background-color: #ab828c;
    border: #ab828c;
}

.btn:active{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: none;
}



.reload-btn {
    position: absolute;
    right: 10px;
    top: 10px; 
    border: none;
    border-radius: 10px;
    padding: 3px;
    background-color: #fdf0d5
}

.reload-btn img {
    width: 100%;
    display: block;
    background-color: #fdf0d5;
}

.reload-btn:hover{
    cursor: pointer;
    border: 1px solid #003049;
    

}

.reload-btn:active{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}



/*BreakPoints*/ 


@media only screen and (min-width: 768px){
    
    /*Typography*/
    h1 {
        font-weight: 700;
        font-size: 60px;
        
    }

    p {
        font-size: 55px;
    }

    /*Styling of the elements*/

    main{
        width: 500px;
        height: 500px;
        margin: -250px 0 0 -250px;
    }

    .btn{
        width: 80px;
        font-size: 40px;
    }
}

@media only screen and (min-width: 992px){

    /*Typography*/
    h1 {
        font-weight: 700;
        font-size: 70px;
    }

    p {
        font-size: 65px;
    }

    /*Styling of the elements*/

    main{
        width: 700px;
        height: 700px;
        margin: -350px 0 0 -350px;
    }

    .btn{
        width: 90px;
        font-size: 40px;
        
    }
}

@media only screen and (min-width: 1200px){

    /*Typography*/
    h1 {
        font-weight: 700;
        font-size: 80px;
        
    }

    p {
        font-size: 75px;
    }

    /*Styling of the elements*/

    main{
        width: 900px;
        height: 900px;
        margin: -450px 0 0 -450px;
    }

    .btn{
        width: 110px;
        font-size: 50px;        
    }

}

@media only screen and (min-width: 1400px){

    /*Typography*/
    h1 {
        font-weight: 700;
        font-size: 90px;
        
    }

    p {
        font-size: 85px;
    }

}